{
  "presets": ["env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/lib"],
        "alias": {
          "~": "./src",
          "#": "./src/components"
        }
      }
    ],
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "ignore": ["node_modules"]
}
